<form method="post">
    {% csrf_token %}
    <p>
        <label for="id_doctor_username">Doctor Username:</label>
        <input type="text" name="doctor_username" id="id_doctor_username" value="{{ form.initial.doctor_username }}" placeholder="{{ form.initial.doctor_username }}" disabled>
    </p>
    <p>
        <label for="id_patient_username">Patient Username:</label>
        <input type="text" name="patient_username" id="id_patient_username" value="{{ form.initial.patient_username }}" placeholder="{{ form.initial.patient_username }}" disabled>
    </p>
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
