{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link
    rel="stylesheet" href="{% static 'style.css' %}"
    />
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <input type="text" class="form-control" id="search-bar" placeholder="Search by name or specialty">

        <!-- Sort dropdown -->
        <div class="form-group">
            <label for="sort-dropdown">Sort By:</label>
            <select class="form-control" id="sort-dropdown">
                <option value="name">Name</option>
                <option value="experience">Experience</option>
                <!-- Add more sorting options as needed -->
            </select>
        </div>
        
    <div id="doctor-list">
        {% for doctor in doctors %}
            <div class="card card-horizontal">
                <img src="{{ doctor.profile_picture.url }}" class="card-img-top" alt="Doctor Image">
                <div class="card-body">
                    <h5 class="card-title">{{ doctor.name }}</h5>
                    <p class="card-text">Age: {{ doctor.age }}</p>
                    <p class="card-text">Address: {{ doctor.address }}</p>
                    <p class="card-text">Experience: {{ doctor.experience }} years</p>
                    <p class="card-text">Specialty: {{ doctor.specialization }}</p>
                    <form method="get" action="book_appointment">
                        {% csrf_token %}
                        <input type="hidden" name="patient_username" value="{{ request.session.username }}">
                        <input type="hidden"  name="doctor_username" value="{{ doctor.username }}">
                        <button class="btn btn-primary" type="submit">Book Appointment</button>
                    </form>
                     </div>
            </div>
        {% empty %}
            <p>No doctors found.</p>
        {% endfor %}
    </div>
</div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
