{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>  
  <style>
    body {
        background-image: url("{% static 'bg_doctor.jpg' %}") ;
        background-size: 1535px 737px;
  }
  .welcome-container {
    color: black; /* Text color */
    padding: 20px;
    text-align: center; /* Center align the text */

  }
</style>
  </head>
<body>
{% include "navbar.html" %}
{% if user.is_authenticated %}

<div class="welcome-container">
  <h2>Welcome, Dr.{{ user.first_name }} {{user.last_name}}</h2>
</div>
      <div class="container">
            <div class="row">
              {% for appointment in appointments %}
              <div class="appointment-card">
                <ul>
                  <li><strong>Patient:</strong> {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</li>
                  <li><strong>Time Slot:</strong> {{ appointment.time_slot }}</li>
                  <li><strong>Date:</strong> {{ appointment.date }} </li>
                  <li><strong>Issue:</strong> {{ appointment.issue }} </li>
                </ul>
              </div>
              {% empty %}
              <p>No appointments found.</p>
              {% endfor %}
            </div>
          </div>
{% endif %}
{% include "footer.html" %}

      </body>
      </html>